@use "../variables" as *;

.summary {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 50px 0px 50px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .total-amount {
    margin-left: 1rem;
  }
}